
<div class="container">
    <h1><a href="" class="logo">{{hero.name}}</a></h1>
    <img src="{{hero.thumbnail}}" alt="{{hero.name}}" id="imagem">

    
    <p *ngIf="hero.description" id="sizeLetter">{{hero.description}}</p>
    <p *ngIf="!hero.description" id="sizeLetter">Sem descrições encontradas</p>

    <div class="main">

        <div *ngIf="hero.comics && hero.comics.length > 0">
            <h2>COMICS</h2>
            <div class="cards" *ngFor="let comics of hero.comics">
                <div class="image">
                    <img src="../../../assets/marvel.jpg" alt="{{comics.name}}">
                </div>
                <div class="des">
                    <h3>{{comics.name}}</h3>
                </div>
            </div>
        </div>

        <div *ngIf="hero.series && hero.series.length > 0">
            <h2>SERIES</h2>
            <div class="cards" *ngFor="let series of hero.series">
                <div class="image">
                    <img src="../../../assets/marvel.jpg" alt="{{series.name}}">
                </div>
                <div class="des">
                    <h3>{{series.name}}</h3>
                </div>
            </div>
        </div>

        <div *ngIf="hero.stories && hero.stories.length > 0">
            <h2>STORIES</h2>
            <div class="cards" *ngFor="let stories of hero.stories">
                <div class="image">
                    <img src="../../../assets/marvel.jpg" alt="{{stories.name}}">
                </div>
                <div class="des">
                    <h3>{{stories.name}}</h3>
                </div>
            </div>
        </div>

        <div *ngIf="hero.events && hero.events.length > 0">
            <h2>EVENTS</h2>
            <div class="cards" *ngFor="let events of hero.events">
                <div class="image">
                    <img src="../../../assets/marvel.jpg" alt="{{events.name}}">
                </div>
                <div class="des">
                    <h3>{{events.name}}</h3>
                </div>
            </div>
        </div>

    </div>
</div>