<div id="bodySearch">
    <div class="container">
        <div class="entryarea">
            <div class="search-hero">
                <input [value]="searchText" (input)="updateName($event)" type="text">
                <div class="labelline">Buscar por heroi</div>
            </div>
        </div>
    </div>
</div>


    <tr *ngFor="let heroe of heroes | filter:searchText">
        <td>{{heroe.id}}</td>
        <td>{{heroe.name}}</td>
        <td>{{heroe.description}}</td>
        <td>{{heroe.thumbnail}}</td>
    </tr>
    
