<div id="bodySearch">
    <div class="container">
        <div class="entryarea">
            <div class="search-hero">
                <input [value]="searchText" (input)="updateName($event)" type="text">
                <div class="labelline">Buscar por heroi</div>
            </div>
        </div>
    </div>
</div>


    <!--<tr *ngFor="let heroe of heroes | filter:searchText">
        <td>{{heroe.id}}</td>
        <td>{{heroe.name}}</td>
        <td>{{heroe.description}}</td>
        <td>{{heroe.thumbnail}}</td>
    </tr>-->

<div id="bodySlider">
    <div class="slide-container">
        <div class="slide-content">
            <div class="card-wrapper">
                <div class="card">
                    <div class="image-content">
                        <span class="overlay"></span>
                        <div class="card-image">
                            <img src="http://i.annihil.us/u/prod/marvel/i/mg/c/e0/535fecbbb9784.jpg" alt="" class="card-img">
                        </div>
                    </div>

                    <div class="card-content">
                        <h2 class="name">Testes</h2>
                        <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt ullam quasi voluptatibus. Expedita voluptatibus cum error sapiente id! Eius molestias repellendus debitis architecto magnam illum nesciunt eaque nulla aliquid autem!</p>
                        <button class="button">Saber Mais</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
